<section class="bg-[#FFEDD8] AboutUs p-5 md:p-20 w-full">
  <!-- Content -->
  <div class="content w-full sm:w-[600px] items-center sm:items-start">
    <!-- Text Content -->
    <div class="text text-center sm:text-left">
      <div class="titles">
        <div class="firstAboutUs flex gap-9 justify-between items-center">
          <p class="">ABOUT US</p>
          <div class="sm:flex items-center gap-0 hidden">
            <div class="w-[111px] h-[1px] bg-[#583101]"></div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
            >
              <path
                d="M12 0.0175781L24 12.0176L12 24.0176L0 12.0176L12 0.0175781Z"
                fill="#583101"
              />
            </svg>
          </div>
        </div>
        <p class="secondAboutUs text-[30px] sm:text-[40px]">
          At Diamond Luxury Hotels
        </p>
      </div>
      <div class="paragraph text-justify sm:text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim, risus
        dictum sed sit. Suspendisse congue est pellentesque nec. Sed tincidunt
        aliquam morbi diam faucibus sodales. Auctor lacus, sed amet velit leo,
        felis eget in proin. Arcu enim, est dictum venenatis convallis tortor.
        Malesuada vestibulum a sed libero sapien, tellus.
      </div>
    </div>

    <!-- Button  -->
    <a class="button" href="#contactUs">
      <button class="ContactUs">Contact Us</button>
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
        >
          <mask
            id="mask0_1_87"
            style="mask-type: alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="24"
            height="25"
          >
            <rect
              x="24"
              y="0.0175781"
              width="24"
              height="24"
              transform="rotate(90 24 0.0175781)"
              fill="#D9D9D9"
            />
          </mask>
          <g mask="url(#mask0_1_87)">
            <path
              d="M2 11.0176H18.175L13.6 6.41758L15 5.01758L22 12.0176L15 19.0176L13.575 17.6176L18.175 13.0176L2 13.0176V11.0176Z"
              fill="#FFEDD8"
            />
          </g>
        </svg>
      </div>
    </a>
  </div>
  <!-- Images -->
  <div class="img relative hidden sm:block">
    <div class="img2 absolute"></div>
  </div>
</section>
