@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  display: flex;
  align-items: center;
}

.FeaturedOffer {
  display: inline-flex;
  align-items: center;
  gap: 100px;
}

.FeaturedOffer .img {
  width: 800px;
  height: 533px;
  background: url(../../assets/room.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
}
.FeaturedOffer .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}
.FeaturedOffer .content {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 64px;
}

.FeaturedOffer .content .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.FeaturedOffer .content .text .titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.FeaturedOffer .content .text .titles .firstFeaturedOffer {
  color: #583101;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.FeaturedOffer .content .text .titles .secondFeaturedOffer {
  color: #121619;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.FeaturedOffer .content .button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #583101;
}
.FeaturedOffer .content .button .ContactUs {
  color: #ffedd8;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.FeaturedOffer .content .text .paragraph {
  color: #121619;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.FeaturedOffer .content .text .offer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.FeaturedOffer .content .text .offer .description {
  color: #121619;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.FeaturedOffer .content .text .offer .percent {
  color: #000;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.FeaturedOffer .content .text .offer .discount {
  color: #000;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.FeaturedOffer .content .text .offer .lineSeparator {
  width: 1px;
  height: 200px;
  background: #000;
}
