<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bg-[#FFEDD8] h-[100vh]">
    <section class="FeaturedOffer bg-[#FFEDD8] p-5 md:p-20 w-full">
      <div class="img hidden md:block"></div>
      <!-- Content -->
      <div class="content w-full sm:w-[600px] items-center sm:items-start">
        <!-- Text Content -->
        <div class="text text-center sm:text-left">
          <div class="titles mb-3">
            <div
              class="firstFeaturedOffer flex gap-9 justify-between items-center"
            >
              <p class="">WELCOME TO OUR HOTEL</p>
              <div class="sm:flex items-center gap-0 hidden">
                <div class="w-[111px] h-[1px] bg-[#583101]"></div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                >
                  <path
                    d="M12 0.0175781L24 12.0176L12 24.0176L0 12.0176L12 0.0175781Z"
                    fill="#583101"
                  />
                </svg>
              </div>
            </div>
            <!-- <p
              class="secondFeaturedOffer text-center sm:text-left text-[30px] sm:text-[30px] uppercase"
            >
              keep an eye on your inbox
            </p> -->
          </div>
          <div class="paragraph text-justify sm:text-left space-y-3">
            <p>
              A warm and heartfelt welcome to the OUR HOTEL family! We're
              delighted that you've taken the first step towards experiencing
              the exceptional hospitality and luxurious comfort that we pride
              ourselves on providing.
            </p>
            <p>
              Your inquiry has been received and noted, and our dedicated team
              is already working behind the scenes to curate a personalized
              response tailored to your needs. Whether you're seeking a tranquil
              getaway, a business trip with all the amenities, or an
              unforgettable vacation, we're committed to making your stay truly
              remarkable.
            </p>
            <p>
              As a lead, you're now part of our extended family, and we're here
              to ensure that every detail of your upcoming experience exceeds
              your expectations. We can't wait to introduce you to the exquisite
              accommodations, impeccable service, and breathtaking surroundings
              that make OURHOTEL a standout destination.
            </p>

            <p>
              Please keep an eye on your inbox – our team will be in touch soon
              to address your inquiry and assist you in any way possible. If you
              have any questions in the meantime, don't hesitate to reach out to
              us at ourhotel@company.com
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
