<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bg-[#FFEDD8] h-[100vh]">
    <div id="home">
      <!-- Nav bar -->
      <app-nav-bar></app-nav-bar>

      <!-- Hero Section -->
      <app-hero-section></app-hero-section>
    </div>

    <!-- About Us Section -->
    <app-about-us-section id="aboutUs"></app-about-us-section>

    <!-- Featured Offer -->
    <app-offer-section id="offer"></app-offer-section>
    <!-- Our Spaces -->
    <app-our-spaces-section id="spaces"></app-our-spaces-section>
    <!-- Contact Us -->
    <app-contact-us-section id="contactUs"></app-contact-us-section>
    <!-- Scroll button -->
    <button
      *ngIf="isScrolled"
      (click)="scrollToTop()"
      class="flex fixed bottom-10 transition-all duration-300 right-5 w-10 h-10 bg-shiny-green hover:bg-[#583101] hover:text-white rounded-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 m-auto"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5"
        />
      </svg>
    </button>

    <!-- Footer -->
    <app-footer-section></app-footer-section>
  </body>
</html>
